[submodule "extern/DKUtil"]
	path = extern/DKUtil
	url = https://github.com/gottyduke/DKUtil.git
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibSSE-NG.git
